/*This is the date setup up to change some of the 
tools in the date editor*/
#date-setup-area {
	width:100%;
	height:auto;
	background-color:#dcdcdc;
	padding:1em 0px;
	text-align:center;
}

#single-date,
#multiple-dates {
	padding:5px 15px;
	background-color:transparent;
	color:#484848;
	font-weight:normal;
	font-size:16px;
	text-transform:uppercase;
	border:2px solid #484848;
	outline:none;
}

#single-date {
	background-color:#484848;
	color:#f3f3f3;
}

/*This is the date preview area*/
#date-preview {
	width:100%;
	height:auto;
	padding:1em 0px;
	background-color:#dcdcdc;
	text-align:center;
	overflow:hidden;
	position:relative;
}

#single-date-pre {
	font-weight:lighter;
	text-transform:uppercase;
	color:#fff;
	font-size:18px;
	margin-top:1em;
	margin-bottom:1em;
}

#multiple-date-setup {
	width:100%;
	height:auto;
	text-align:center;
	padding:0.5em 0px;
	display:none;
}

#first-date-pre,
#between-text-pre,
#second-date-pre {
	color:#fff;
	font-weight:lighter;
	text-transform:uppercase;
	font-size:18px;
}

/*This is the single date editor*/
#single-date-area,
/*This is the first date editor for the multiple date setup*/
#first-date-area,
/*This is the between text editor for the multiple date setup*/
#between-text-area,
/*This is the second date editor for the multiple date setup*/
#second-date-area {
	width:100%;
	height:auto;
	background-color:#dcdcdc;
	padding:2em 0px;
	text-align:center;
}

#first-date-style,
#bet-text-style,
#second-date-style {
	display:none;
}

#single-date-editor,
#first-date-editor,
#bet-text-editor,
#second-date-editor {
	margin:1em 0px;
	background-color:#fff;
	outline:none;
	text-align:center;
	width:80%;
	margin:auto;
	padding:5px 0px;
	font-size:16px;
	font-weight:normal;
	border:2px solid #484848;
	color:#484848;
}
